@font-family {
  font-family: fontMain;
  src: url(fonts/Afacad-Regular.ttf);
}

h1 {
  font-family: fontMain, "Trebuchet MS", sans-serif;
  font-size: 60px;
  text-align: center;
  color: white;
}

h2 {
  font-family: fontMain, "Trebuchet MS", sans-serif;
  font-size: 45px;
  text-align: center;
  color: #ffffff;
}

h3 {
  font-family: fontMain, "Trebuchet MS", sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
}

#subtext {
  font-family: fontMain, "Trebuchet MS", sans-serif;
  font-size: 30px;
  text-align: center;
  color: white;
}

p {
  font-family: fontMain, "Trebuchet MS", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #00000099;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 175px;
  background-color: #00000036;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li a {
  display: block;
  color: #ffffff;
  padding: 12px 24px;
  text-decoration: none;
  font-family: fontMain, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/* Change the link color on hover */
li a:hover {
  background-color: #00000046;
  color: white;
}

#title {
  width: 100% - 20px;
  padding: 20px;
  background-color: #364ae3;
  background-image: linear-gradient(#364ae3, #39a3e3);
}

#titletext {
  width: 100% - 20px;
  padding: 20px;
  background-color: #3087bd;
}

#intro {
  width: 100% - 20px;
  padding: 20px;
  background-color: #39a3e3;
  background-image: linear-gradient(#39a3e3, #39e3bb);
}

#introtext {
  width: 100% - 20px;
  padding: 20px;
  background-color: #32c3a1;
}

#part1 {
  width: 100% - 20px;
  padding: 20px;
  background-color: #39e3bb;
  background-image: linear-gradient(#39e3bb, #e0ee22);
}

#part1text {
  width: 100% - 20px;
  padding: 20px;
  background-color: #b7c31c;
}

#part1text {
  width: 75% - 20px;
  padding: 20px;
}

img {
  margin: 0px;
  width: 25%;
}

#part2 {
  width: 100% - 20px;
  padding: 20px;
  background-color: #e0ee22;
  background-image: linear-gradient(#e0ee22, #eeb422);
}

#part2text {
  width: 100% - 20px;
  padding: 20px;
  background-color: #c2931e;
}

#part3 {
  width: 100% - 20px;
  padding: 20px;
  background-color: #eeb422;
  background-image: linear-gradient(#eeb422, #ee4122);
}

#part3text {
  width: 100% - 20px;
  padding: 20px;
  background-color: #c2341b;
}

#conclusion {
  width: 100% - 20px;
  padding: 20px;
  background-color: #ee4122;
  background-image: linear-gradient(#ee4122, #ee22a0);
}

#conclusiontext {
  width: 100% - 20px;
  padding: 20px;
  background-color: #b8187b;
  background-image: linear-gradient(#b8187b, #7319b4, #2a3ab3);
}

html, body {
  margin: 0;
  padding: 0;
} 
